/* 
.box-name {
  display: flex;
  margin-right: 35px;
}

.box-detail {
  width: max-content;
  margin: 10px auto;
  display: flex;
  background: #ffff;
  border-radius: 10px;
  box-shadow: 4px 4px #bebebe;
}
.profil {
  align-items: center;
}
.name-profil {
  height: max-content;
  text-align: center;
  width: 100%;
  font-size: 35px;
  font-weight: 100;
  letter-spacing: 5px;
  margin-top: 95px;
  margin-bottom: 100px;
}
.photo img {
  max-width: 235px;
  height: 100%;
}
.name1 {
  width: 155px;
  margin: 10px 0;
  color: #313131;
  letter-spacing: 1px;
}
.photo {
  margin: 35px;
}
.edit {
  float: right;
  margin: 20px;
}
.bio {
  padding-bottom: 60px;
}
img.photo-profil {
  clip-path: circle();
}
.title-profil {
  text-align: center;
  font-size: 40px;
  margin: 30px 0;
  font-weight: 300;
  letter-spacing: 6px;
  font-family: sans-serif;
  color: #666666;
}
.name2 {
  padding: 10px;
} */

.statis {
	color: var(--dk-gray-100);
}


.statis .box {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
  
}

.statis .box h3:after {
	content: "";
	height: 2px;
	width: 70%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.12);
	display: block;
	margin-top: 10px;
}

.statis .box i {
	position: absolute;
	height: 70px;
	width: 70px;
	font-size: 22px;
	padding: 15px;
	top: -25px;
	left: -25px;
	background-color: rgba(255, 255, 255, 0.15);
	line-height: 60px;
	text-align: right;
	border-radius: 50%;
}

.main-color {
	color: #ffc107
}

.bg-cards {
  background-color: #31353D;
}

.text-cards {
  color: lightgray;
}

.chart-box {
  text-align: -webkit-center;
  margin: 20px;
}